{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

  <h2 class="collection--title">{{ collection.title | escape }}</h2>
  <div class="collection--description">
      <p>{{ collection.description }}</p>
  </div>


  <div class="collection--carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
      {% for product in collection.products limit: 6 %}
        {% assign current_variant = product.selected_or_first_available_variant %}
  
        <a href="{{ product.url | within: collection }}">
          <div class="collection--carouselCell" >
            <div class="product--image">
              {% if product.featured_image != blank %}
                {{ product.featured_image | img_url: 'large' | img_tag }}
              {% endif %}
              
              <button class="product--addToCartButton secondary-button" js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</button>
            </div>

            <div class="product--info">
              <h5 class="product--title">{{ product.title | escape }}</h5>

              <span class="product--price">
                {% include 'product-price' %}
              </span>
            </div>
          </div>
        </a>
      {% endfor %}
  </div>
  <div class="collection-linkButton">
    <button class="primary-button">View Collection</button>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}


{% javascript %}
  console.log('hello world YES');
{% endjavascript %}